<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="tuezera">
    <meta name="author" content="">

    <title>Pipoca Barber Shop - Dashboard</title>

    <link rel="icon" type="image/x-icon" href="/assets/pipoca.ico" />
    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/admin/css/pipoca-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Barra Lateral -->
        <ul th:replace="~{admin/fragmentos :: sidebar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{admin/fragmentos :: topbar}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Agendamentos</h1>
                        <button class="btn btn-primary" id="relatorio-btn">
                            <i class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório
                        </button>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="container">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="cliente">Cliente: </label>
                                    <span id="cliente" th:text="${agendamento.cliente.nome}"></span>
                                </div>
                                <div class="col">
                                    <label for="funcionario">Barbeiro: </label>
                                    <span id="funcionario" th:text="${agendamento.horario.funcionario.nome}"></span>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col">
                                    <label for="data">Data: </label>
                                    <span id="data" th:text="${agendamento.horario.date}"></span>

                                    <label for="hora">Hora: </label>
                                    <span id="hora" th:text="${agendamento.horario.hora.valor}"></span>
                                </div>
                                <div class="col">
                                    <label for="servico">Serviço: </label>
                                    <span id="servico" th:text="${agendamento.servico.descricao}"></span>
                                </div>

                                <div class="col">
                                    <label for="valorServe">Valor: </label>
                                    <span id="valorServe" th:text="${agendamento.servico.valor}"></span>
                                </div>
                            </div>


                            <div class="row mb-5">
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col">
                                    <div class="btn-group row" role="group" id="botoes">
                                        <div class="mb-2">
                                            <form action="/agenda/deletar" method="post">
                                                <input type="text" name="agenda_id" th:value="${agendamento.id}" hidden>
                                                <button type="submit" class="btn btn-danger">Excluir</button>
                                            </form>
                                        </div>

                                        <div class="mr-2 ml-2 mb-2">
                                            <button type="submit" class="btn btn-success" data-toggle="modal"
                                                data-target="#pagamentoModalCenter">Concluir</button>
                                        </div>

                                        <div class="mb-2" hidden>
                                            <button type="submit" class="btn btn-primary">Alterar</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>



                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="~{admin/fragmentos :: footer}"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Pagamento Modal -->
    <div class="modal fade" id="pagamentoModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="pagamentoModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pagamentoModalLongTitle">Selecione a forma de Pagamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col">
                            <form action="/agenda/check" method="post">
                                <input type="text" name="agenda_id" th:value="${agendamento.id}" hidden>
                                <h6>Dinheiro</h6>
                                <button class="btn btn-lg btn-primary" type="submit">
                                    <input type="text" name="pagamento" value="DINHEIRO" hidden>
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col">
                            <form action="/agenda/check" method="post">
                                <input type="text" name="agenda_id" th:value="${agendamento.id}" hidden>
                                <h6>Cartão</h6>
                                <button class="btn btn-lg btn-primary" type="submit">
                                    <input type="text" name="pagamento" value="CARTAO" hidden>
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col">
                            <form action="/agenda/check" method="post">
                                <input type="text" name="agenda_id" th:value="${agendamento.id}" hidden>
                                <h6>Pix</h6>
                                <button class="btn btn-lg btn-primary" type="submit">
                                    <input type="text" name="pagamento" value="PIX" hidden>
                                    <i class="fa-brands fa-pix"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div th:replace="~{admin/fragmentos :: logout}"></div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/admin/js/pipoca-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="/admin/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/chart-area-demo.js"></script>
    <script src="/admin/js/demo/chart-pie-demo.js"></script>

    <!--FA ICONS-->
    <script src="/js/be2a1fbfc9.js" crossorigin="anonymous"></script>

    <!-- Gerar PDF -->

</body>

</html>