<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="tuezera">
    <meta name="author" content="">

    <title>Pipoca Barber Shop - Dashboard</title>

    <link rel="icon" type="image/x-icon" href="/assets/pipoca.ico" />
    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/admin/css/pipoca-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Barra Lateral -->
        <ul th:replace="~{admin/fragmentos :: sidebar}"></ul>
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{admin/fragmentos :: topbar}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <form action="/funcionario/alterando" method="post">
                        <div class="container col-mb-10">

                            <div class="row">
                                <div class="col">
                                    <div>
                                        <h3>Funcionário: <span th:text="${funcionario.id}"></span></h3>
                                        <input type="text" th:value="${funcionario.id}" hidden>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div>
                                        Nome de usuário: <span th:text="${funcionario.usuario.login}"></span></h5>
                                        <button class="btn btn-link ml-3 mr-3">
                                            Opções de Usuário
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <hr class="divider">

                            <h5>Preencha os campos que deseja alterar.</h5>

                            <div class="row">
                                <div class="col">
                                    <div>
                                        <label class="col-md-4 control-label" for="nome">Nome</label>
                                        <div class="col-md-12">
                                            <input id="nome" name="nome" th:value="${funcionario.nome}"
                                                class="form-control input-md" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <div>
                                        <label class="col-md-4 control-label" for="dtNascimento">Nascimento</label>
                                        <div class="col-md-6">
                                            <input id="dtNascimento" th:value="${funcionario.dtNascimento}"
                                                name="dtNascimento" min="1940-01-01" max="2019-06-06"
                                                placeholder="DD/MM/AAAA" class="form-control input-md" required=""
                                                type="date" maxlength="10" onBlur="showhide()"
                                                onKeyUp="mascaraData(this, event)">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col">
                                    <div class="form-select form-select-lg">
                                        <label class="col-md-4 control-label" for="sexo">Sexo</label>
                                        <select id="sexo" class="col-md-4 mb-3" aria-label="sexo" name="sexo"
                                            style="text-transform: lowercase;font-size: large;">
                                            <option th:value="${funcionario.sexo}" selected hidden></option>
                                            <option value="FEMININO">Feminino</option>
                                            <option value="MASCULINO">Masculino</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-select form-select-lg">
                                        <label class="col-md-4 control-label" for="cargo">Cargo</label>
                                        <select id="cargo" class="col-md-4 mb-3" aria-label="cargo" name="cargo"
                                            style="text-transform: lowercase;font-size: large;">
                                            <option th:value="${funcionario.cargo}" selected hidden></option>
                                            <option value="BARBEIRO">Barbeiro</option>
                                            <option value="ATENDENTE">Atendente</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="col-md-4 control-label" for="telefone">Telefone</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input id="telefone" th:value="${funcionario.telefone}" name="telefone"
                                                class="form-control" placeholder="XX XXXXX-XXXX" type="text"
                                                maxlength="15" OnKeyPress="onlynumber(event)"
                                                onKeyUp="mascaraTelefone(this, event)">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ====== CAMPOS ESTATICOS ====== -->
                            <div>
                                <input id="id" name="id" th:value="${funcionario.id}" hidden>
                            </div>

                            <div class="row mt-3">
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">Alterar</button>
                                </div>
                            </div>
                        </div>




                    </form>

                </div>

            </div>

            <!-- Footer -->
            <footer th:replace="~{admin/fragmentos :: footer}"></footer>
            <!-- End of Footer -->

        </div>

    </div>

    <!-- Logout Modal-->
    <div th:replace="~{admin/fragmentos :: logout}"></div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/admin/js/pipoca-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="/admin/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/chart-area-demo.js"></script>
    <script src="/admin/js/demo/chart-pie-demo.js"></script>

</body>

</html>