<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="tuezera">
    <meta name="author" content="">

    <title>Pipoca Barber Shop</title>

    <link rel="icon" type="image/x-icon" href="/assets/pipoca.ico"/>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body class="border-box-center bg-dark">

    <div class="border-box-center bg-danger">
        <p>Apenas para pessoal autorizado</p>
        <a href="/home">
            <button type="button" class="btn btn-primary" style="padding: 7px;" >Voltar</button>
        </a>
    </div>
</body>
</html>