<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="tuezera">
    <meta name="author" content="">

    <title>Pipoca Barber Shop</title>

    <link rel="icon" type="image/x-icon" href="/assets/pipoca.ico"/>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body style="display:flex; justify-content: center; align-items: center; box-sizing: border-box; background-color: #444;">

    <div style="display:flex; justify-content: center; align-items: center; flex-direction: column; background-color: aquamarine; width: 30vw; height: 30vh">
        <p>Apenas para pessoal autorizado</p>
        <a href="/home">
            <button type="button" class="btn btn-primary" style="padding: 7px;" >Voltar</button>
        </a>
    </div>
</body>
</html>